<h2 class="title-style">Aquí Está Tu Vuelo.</h2>



<div class="container">
    <div class="map-container">
      <div class="mapa" #divMap></div>
    </div>
    <div class="data-column">
      <!-- Aquí coloca tus datos -->
      <h2>Datos del vuelo con ID {{fligthid}}</h2>
      <p><strong>Tipo de Vuelo: </strong> {{fligth.type}}</p>
      <p><strong>Fecha inicio: </strong> {{fligth.date}}</p>
      <p><strong>Altitud: </strong> {{ fligth.altitude }} metros</p>
      <p><strong>Numero de Waypoints: </strong> {{ fligth.numberWaypoints }}</p>
      <p><strong>Velocidad: </strong> {{ fligth.speed }}</p>
      <p><strong>Heading: </strong> {{ fligth.heading }}</p>
      <p><strong>Acción al finalizar: </strong> {{ fligth.finishing}}</p>
      <p><strong>Duración del vuelo: </strong> {{ fligth.duration}} Segundos</p>
      <p><strong>Fecha fin: </strong> {{fligth.finishdate}}</p>

      <button (click)="guardarArchivoDeTexto()">Generar archivo TXT</button>


    </div>
  </div>
